# Code
attrs>=20.1.0

# Formatting
## Black hasn't published a version that can format python3.9 code
## so we use the source for new
git+https://github.com/psf/black
isort>=5.4.2
pylint
rope

# Testing
pytest>=6.0.1
hypothesis>=5.37.0

# Documentation
git+https://github.com/sphinx-doc/sphinx@3.x
sphinx-rtd-theme
recommonmark
m2r2